$bannerHeading:40px;
$bannerSub:20px;


@mixin banner{
    width: 100%;
    position: relative;

    .banner-content{position: absolute;
        top:50px;
        width: 100%;

}
span{
    font-size: $bannerHeading;
    display: block;
    text-transform: uppercase;
    font-weight:bold;
}
span.title{font-weight:normal;
margin-bottom: 70px;
color:bisque;
background-color:darkred;}

span.subtitle{font-size:$bannerSub;
color:bisque;
background-color:darkred}

    
}


.banner{
    @include banner;
}



*{box-sizing: border-box;

    margin: 0;
    
    border: 0;}
    
    html{height: 100%;}
    
    body{font-family: 'Times New Roman', Times, serif;
    
    font-size: 1.2rem;
    
    min-height: 100%;
    
    background-color: sandybrown;}
    
    .container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    }
    
    
    
    .header{
    
    background-color: darkred;}
    
    h1{color: bisque;}
    
    .navbar{
    background-color: bisque;}
    
    .sidebar{
    
    background-color:bisque;}

  .sidebar2{background-color:bisque}
    
  
    
    .main{
    
    background-color: darkred;
    
    color: bisque;}
    
    
    
    .footer{grid-area: footer ;
    background-color: darkred;}
    
    .container{display: flex;
      flex-direction: column;
      gap: 23px;
      flex-wrap: wrap;
      justify-content: space-between;}
    
    
    
    .footer {
        background-color: rgb(0, 0, 0);
        color: #bbb;
        line-height: 1.5; }
    
    footer ul{list-style: none;}

    h3{padding-bottom: 5px;}
    
    
    /* Comienza Flex */
    
    
    
    .main{display: flex;
    
    flex-direction: column;
    
    justify-content: space-around;}
    
    .sidebar{display: flex;
    
        flex-direction: column;
    
    }
    
    .sidebar_2{display: flex;
    
    flex-direction: column;}
    
     /*Animacion*/
     @keyframes TITULO {
        from {color: bisque;}
        to {color:orange;}
      }
      
      h1 {
        background-color:darkred;
        animation-name: TITULO;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      } 
    
    /* BARRA DE NAVEGACION */
    
    .nav_links{list-style: none;
    background-color: bisque;
    }
    
    .nav_links li{padding: 0px 20px;}
    
    
    .nav_links li a{
        transition: all 0.3s ease 0s;color: black; font-size: large;
      font-family: 'Franklin Gothic Medium';}
    
    
    .nav_links li a:hover{color: deepskyblue;}
    
    button{padding: 9px 25px;}
    
    .div1{display: flex;
        flex-direction:column;
    flex-wrap: wrap;
    
    justify-content: space-around;}
    
    .div2{@extend .div1}

    .galeria{display: flex;
    padding:20px;}
    
    .equipoLegal{

      position: relative;

      width: 50%;

    image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  .text {
    background-color:bisque;
    color: darkred;
    font-size: 16px;
    padding: 16px 32px;
  }
}
    }

    .equipoLegal:hover .image {
      opacity: 0.3;
    }
    
    .equipoLegal:hover .middle {
      opacity: 1;
    }
    
    

    .cartas{display: flex;
      padding: 20px;
      flex: center;
text-align: center;
background-color: darkred;}

.card{
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  }

  .equipoLegal2{ @extend .equipoLegal;}

  .equipoLegal3{ @extend .equipoLegal;}

/* FOOTER COMPILADO ESTILO SCSS*/

.footer{display: flex;

    flex-wrap: wrap;

    .ft-social {
      padding: 0 1.875rem 1.25rem;

      .ft-social-list {
        display: flex;
        justify-content: center;
        border-top: 1px #777 solid; 
        padding-top: 1.25rem;

        li {
          margin: 0.5rem;
          font-size: 1.25rem;
      }
    }
      
  }
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(0, 0, 0);

    .ft-legal-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0.125rem 0.625rem;
        white-space: nowrap;

        li{transition: all 0.3s ease 0s}
    }
  }
  .ft-legal-list :hover{color: deepskyblue;}
}
  
  }
    
   

    /* FORMULARIO */

.myForm {
    display: flex;
    background-color: darkred;
    border-radius: 3px;
    padding: 1.8em;
  }
  .message {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .message > textarea {
   flex: 1; 
   min-width: 18em;
  }
  .contact {
   	flex: 1; 
    order: 1;
   	margin-right: 2em; 
       color: bisque;
  }
  .contact input {
    width: 100%;
  }
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;
  }
  .contact button {
   background: bisque;
   color:black;
   border: 0;
  }

  .searchbar{display: flex;
justify-content: flex-end;
margin-bottom: 20px;
margin-top: -20px;
}

 
.share{display: flex;

flex-direction: row;

justify-content: end;

margin-top: 10px;

gap: 10px;}

.card_:hover{font-size: x-large;
transition: all 0s ease-in-out 0.3s;}

.mapouter{display: flex;

  justify-content: center;
  
  position: relative;left: 410px;

  padding: 10px;

margin-bottom: 10px;

border: 2px;

border-color: black;


  
  
  height:214px;width:234px;}





/* COMIENZA MEDIA QUERY */


      @media only screen and (max-width: 480px) {
        
        .container {display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 23px; }

          .sidebar{background-color:darkred}

          
         
  .imagen{display: flex;
    justify-content: center;
      width: 400px;height: 200px;margin-right: -30;}

}

@media only screen and (max-device-width: 480px) 

{nav ul li{height: 40px;

display: flex;

flex-direction : column;}

    .myForm {
      flex-direction: column;
    }
    .message {
      margin-right: 2em;
    display: flex;
  position: relative; bottom:80px;}

      .button_{position: relative; top:80px;}

      .searchbar{display: flex;
    justify-content: center ;
margin-top: 20px;}

} 


@media only screen and (max-device-width: 480px) 

{@mixin banner{
  width: 100%;
  position: relative;

  .banner-content{position: absolute;
      top:30px;
      width: 100%;

}
span{
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  font-weight:bold;
}
span.title{font-weight:normal;
margin-bottom: 70px;
color:bisque;
background-color:darkred;}

span.subtitle{font-size:10px;
color:bisque;
background-color:darkred}

  
}


.banner{
  @include banner;
}
}

@media only screen and (max-width: 480px){

  .nel{display:flex;
  justify-content:center}

  .galeria{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
  gap: 10px;}
    
    .equipoLegal{

      position: relative;
      
      right:45px; 

      width: 30%;

    image {
  opacity: 1;
  display: flex;
  justify-content: center;
  width:200px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  .text {
    background-color:bisque;
    color: darkred;
    font-size: 16px;
    padding: 16px 32px;
  }
}
    }

    .equipoLegal:hover .image {
      opacity: 0.3;
    }
    
    .equipoLegal:hover .middle {
      opacity: 1;
    }
    
    

    .cartas{display: flex;
      padding: 20px;
     flex-direction: column;
    justify-content: center;}

.card{
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  }

.card-img-top{width: 150px}

.carrusel{padding: 10px;
gap: 10px;}
}